body {
    background-color: #343434;
    min-height: 100%;
    margin-bottom: -100px;
    margin-left: -0.1px;
    margin-right: -0.1px;
}

body::after {
    display: block;
    height: 100px;
}
/*
main {
    min-height: 100%;
    margin-bottom: -100px;
}
main:after {
    content: "";
    display: block;
    height: 100px;
}
*/
.mainbody {
    text-align: center;
    color: whitesmoke;
    font-family: Arial;
}

#home {
    position: sticky;
    cursor: pointer;
}

#title {
    text-align: center;
    font-family: Cambria;
    color: whitesmoke;
    display: inline;
    margin: 0px;
}

#titlelogo {
    display: inline-block;
    width: 50px;
    height: 50px;

}
button:hover {
    /*background-color: #EAEBED;*/
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    /*background-image: url('img/KICT.png');*/

}

button {
    background-color: #F2BB05;
    border: 50px;
    border-color: black;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline;
    text-align: center;
    margin: auto; 
    margin-top: 80px;
    /*border-radius: 25px;*/
    transition-duration: 0.4s;
    font-family: impact;
}

.venues {
    /*margin-left: 240px;*/
    max-width: fit-content;
    margin: auto;
}

/*For each Kulliyyahs*/

button.kict:hover {
    background-image: url(img/KICT2.jpg);
    background-size: 768px 432px;
}

button.hs:hover {
    background-image: url(img/HS.jpg);
    background-size: 1024px 633px;
}

button.irk:hover {
    background-image: url(img/irk.jpg);
    background-size: 500px 500px;
}

button.koe:hover {
    background-image: url(img/koe.jpeg);
    background-size: 1080px 680px;
}

button.koed:hover {
    background-image: url(img/koed-768x432.jpg);
    background-size: 768px 432px;
}

button.kenms:hover {
    background-image: url(img/kenms.jpg);
    background-size: 768px 432px;
}

button.book {
    background-color: greenyellow;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin: 10px;
}

button.update {
    background-color: skyblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin: 10px;

}

button.cancel {
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin: 10px;
}
/*
button.book:hover {
    padding-left: 50px;
    padding-right: 50px;
}

button.update:hover {
    padding-left: 50px;
    padding-right: 50px;
}

button.cancel:hover {
    padding-left: 50px;
    padding-right: 50px;
}
*/
#testform {
    padding: 50px;
}

.footer {
    height: 100px;
    background-color: black;
    color: white;
    font-family: Courier;
    text-align: center;
    padding: 20px;
    display: block;
    bottom: 0;
}

table {
    font-family: Courier;
    background-color: black;
    color: white;
    display: inline-block;
    transition-duration: 0.4s;
}

td, th {
    text-align: left;
    padding: 5px;
}

input, label, select {
    margin: 10px; 
}

.bookingform {
    text-align: left;
    color: white;
    background-color: black;
    font-family: 'Courier New';
    padding-top: 10px;
    padding-bottom: 10px;
}

#cancelbutton {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px; 
    font-family: impact;
    padding: 10px;
}

#cancelbutton:hover {
    background-color: red;
    border-radius: 50px;
}